<h1> Booyakasha </h1>
<ul> 
<% @products.each do |product| %>
  <li><%= link_to product.name, show_product_path(product.id) %>
  <%= product.price %></li>
  <%= button_to 'index', add_product_to_cart_path(product.id) %>
<%end%>
</ul>
